#cf6_image {
  margin:0 auto;
  width:450px;
  height:281px;
  transition: background-image 1s ease-in-out;
  background-image:url("/images/Cirques.jpg");
}

#cf6_image:hover {
  background-image:url("/images/Clown%20Fish.jpg");
}