.img-fluid  {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-fluid:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);

.img-fluid2 {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.img-fluid2:hover  {
	-webkit-filter: blur(0);
	filter: blur(0);
}